<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %>!</h1>
    <p>
      Nous vons confirmant votre achat pour l'évenement <%=@event.title%> prévu le <%=@event.start_date%>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : eventbrit-by-alex.fr.
    </p>
    <p> À très vite ! La team Eventbrite by Alex !
  </body>
</html>